@import url(../COS216/PA1/css/header.css);
body{
    
    background: url(../img/Construction.jpg);
}

#heading{
    text-align: center;
    height: 100%;
    width: 100%;
}

h1{
    text-align: center;
    display: flex;
    justify-content: center;
}